---
title: Prameny / Sources
---

<h1><%= current_page.data.title %></h1>

<p><a href="/">&lt; Zpět na homepage / Back to the homepage</a></p>

<h2>Rukopisy / Manuscripts</h2>

<p>
  Místa uložení jsou kódována <a href="https://rism.info/community/sigla.html">RISM sigly</a>.
  /
  <a href="https://rism.info/community/sigla.html">RISM sigla</a> are used to encode manuscript locations.
</p>

<ul>
<% data.sources.select {|k,v| is_manuscript(v) }.each_pair.sort_by {|k,v| v.siglum.to_s }.each do |k,v| %>
<li>
  <strong><%= k %></strong>
  <% if v.siglum %><%= v.siglum %><% end %>
  <% if v.author %><%= v.author %>:<% end %>
  <% if v.uri %><a href="<%= v.uri %>"><% end %>
    <em><%= v.name %></em>
    <% if v.uri %></a><% end %>
  <%= v.year %>
  <span class="source-feasts"><%= source_feasts[k]&.yield_self {|f| '(' + f.join(', ') + ')' } %></span>
</li>
<% end %>
</ul>

<h2>Tisky / Printed Books</h2>

<ul>
<% data.sources.select {|k,v| !is_manuscript(v) }.each_pair.sort_by {|k,v| [v.year, v.name] }.each do |k,v| %>
<li>
  <strong><%= k %></strong>
  <% if v.author %><%= v.author %>:<% end %>
  <% if v.uri %><a href="<%= v.uri %>"><% end %>
    <em><%= v.name %></em>
    <% if v.uri %></a><% end %>
  <% if v.location || v.year %>
  ,
  <%= v.location %>
  <%= v.year %>
  <% end %>
  <span class="source-feasts"><%= source_feasts[k]&.yield_self {|f| '(' + f.join(', ') + ')' } %></span>
</li>
<% end %>
</ul>
