---
title: Prameny
---

<h1>Prameny</h1>

<p><a href="/">&lt; Zpět na homepage</a></p>

<p>
  Seznam obsahuje všechny prameny nápěvů zahrnuté do srovnávací edice.
  Menší výběr z nich je základem edice praktické.
</p>

<h2>Rukopisy</h2>

<p>
  Místa uložení jsou kódována <a href="https://rism.info/community/sigla.html">RISM sigly</a>.
</p>

<ul>
<% data.sources.select {|k,v| is_manuscript(v) }.each_pair.sort_by {|k,v| v.siglum.to_s }.each do |k,v| %>
<li>
  <strong><%= k %></strong>
  <% if v.siglum %><%= v.siglum %><% end %>
  <% if v.author %><%= v.author %>:<% end %>
  <% if v.uri %><a href="<%= v.uri %>"><% end %>
    <em><%= v.name %></em>
    <% if v.uri %></a><% end %>
  <%= v.year %>
</li>
<% end %>
</ul>

<h2>Tisky</h2>

<ul>
<% data.sources.select {|k,v| !is_manuscript(v) }.each_pair.sort_by {|k,v| [v.year, v.name] }.each do |k,v| %>
<li>
  <strong><%= k %></strong>
  <% if v.author %><%= v.author %>:<% end %>
  <% if v.uri %><a href="<%= v.uri %>"><% end %>
    <em><%= v.name %></em>
    <% if v.uri %></a><% end %>
  <% if v.location || v.year %>
  ,
  <%= v.location %>
  <%= v.year %>
  <% end %>
</li>
<% end %>
</ul>
